﻿@model Vidly.Web.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h3>@Model.Name</h3>

@if (!String.IsNullOrEmpty(Model.DateOfBirth))
{<label>Date Of Birth:</label><h5>@Model.DateOfBirth</h5>
    <label>Membership Type:</label><h5>@Model.MembershipType.Name</h5>
}
else {
    <label>MembershipType:</label><h5>@Model.MembershipType.Name</h5>
    }
