﻿@model List<Vidly.Web.Models.Customer>
@{
    ViewBag.Title = "Customers";
}
<h2>Customers</h2>
<a href="/Customer/CustomerForm"><button type="button">New Customer</button></a>
<table class="table table-danger" id="customer-table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Membership Name</th>
            <th>Action</th>
        </tr>
    </thead>
        
    <tbody>
        
            @foreach (var customers in Model)
            {
                <tr>
                    <td id="customerName" value="@customers.Name">@Html.ActionLink(customers.Name,"Edit","Customer",new { Id = customers.ID},null)</td>
                    <td>@customers.MembershipType.Name</td>
                    <td><button date-id="@customers.ID" type="button" class="btn-danger js-delete">Delete</button></td>
                </tr>
            }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#customer-table").DataTable();
        $("#customer-table").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/Customer/Delete/" + button.attr("date-id"),
                        method: "POST",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
     });
    </script>
}