﻿@model List<Vidly.Web.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<a href="Movie/MovieForm"><button style="margin-bottom:20px" class="btn btn-secondary">New Movie</button></a>
<table class="table table-danger">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var movies in Model)
            {
            <tr>
                <td>@Html.ActionLink(movies.Name, "Edit", "Movie", new { Id = movies.ID }, null)</td>
                <td>@movies.Genre.Name</td>
            </tr>

        }

    </tbody>
</table>


