﻿@model Vidly.Web.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "MovieForm";
}

<h2>New/Edit Movie</h2>

@using (Html.BeginForm("Save","Movie"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m=>m.Movie.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleasedDate)
        @Html.TextBoxFor(m => m.Movie.ReleasedDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleasedDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateAdded)
        @Html.TextBoxFor(m => m.Movie.DateAdded, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.DateAdded)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Genre)
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genre,"Id","Name"),"Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId)
    </div>
    @Html.HiddenFor(m=>m.Movie.ID);
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-success">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    }